/* Large screen styles */
@media (min-width: 770px) {
    #hamburger {
        display: none; /* Hide hamburger on large screens */
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}
